* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    /* background-color: rgb(248, 229, 200); */
    background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80");
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

a:hover {
    color: orange;
}


/*  Header */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    max-width: 1200px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.2rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.2rem;
    display: none;
    color: #fff;
}

.action_btn {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    color: white;
    scale: 1.05;
}

.action_btn:active {
    scale: 0.95;
}


/* Dropdown menu */

.dropdown_menu {
    /* 初期状態は非表示（heightで制御するためdisplayは使わない） */
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    /* heightの変化をアニメーション */
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    border-radius: 10px;
}


/* Responsive */

@media (max-width: 992px) {
    /* PC用のリンクとボタンを非表示 */
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    /* ハンバーガーメニューを表示 */
    .navbar .toggle_btn {
        display: block;
        cursor: pointer;
    }
    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {}