:root {
    --backgroundColor: #75a1fa;
    --primaryTextColor: #fff;
    --secondaryTextColor: black;
    --accentColor: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(#75a1fa, #e6dbfc);
}